[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
duckdb = "*"
boto3 = "*"
pandas = "*"
requests = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
boto3-stubs = {extras = ["s3"], version = "*"}
coveralls = "*"
ipython = "*"
mypy = "*"
pandas-stubs = "*"
pre-commit = "*"
pytest = "*"
pytest-mock = "*"
ruff = "*"
setuptools = "*"
types-requests = "*"
pytest-reraise = "*"

[requires]
python_version = "3.12"

[scripts]
cli = "python -c \"from lambdas.cli import cli; cli()\""
