[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
pyathena = {extras = ["sqlalchemy"], version = "*"}
pandas = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
ipython = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
